# Configs
.gitignore
.dockerignore
.editorconfig
.eslintrc.cjs
.prettier*
.github
**/.idea
.run
.git
Dockerfile
**/compose.*


# Documentation
**/README.md
docs
LICENSE


# TS/JS
**/node_modules/
**/*.d.ts
**/*.spec.*
__mocks__
**/coverage
**/build
