span.grip {
    display: inline-block;
    overflow: hidden;
    padding: 10px;
    cursor: move;
    vertical-align: middle;
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

span.grip::after {
    content: '⠿';
    font-size: 1.6rem;
    color: #cccccc;
}

