@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    --card-color: linear-gradient(150deg, #3e6d9b 0%, #2b5d8f 100%);
    --card-color-hover: linear-gradient(150deg, #346391 0%, #215385 100%);
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #e5e5e5;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #334155;
    }
}

.react-flow__node, .react-flow__node-default {
    padding: 0;
    font-size: 1.2rem;
    color: #fff;
    cursor: auto;
    background: var(--card-color);
    border-radius: 20px;
}

.chosen {
    background-color: #00754e;
    border-radius: 20px;
}

@keyframes focused-gradient {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: -100% 50%;
    }
}

.focused {
    background: linear-gradient(90deg, #00754e, #03af58, #00754e);
    background-size: 200% 200%;
    animation: focused-gradient 6s linear infinite;
    border-radius: 20px;
}

.react-flow__node-default.selectable:hover {
    cursor: pointer;
    background: var(--card-color-hover);
}

.react-flow__minimap,
.react-flow__minimap svg {
    border-radius: 20px;
}

.react-flow__controls {
    box-shadow: none;
}

.react-flow__controls button {
    border-radius: 10px;
    border: 2px solid #fff;
    margin-top: 5px;
}


