:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    --card-color: linear-gradient(180deg, #3e6d9b 0%, #2b5d8f 100%);

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}

.react-flow__node {
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
    cursor: auto;
    background: var(--card-color);
    border-radius: 10px;
    box-shadow: 1px 1px 0 1px var(--card-color),
    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    min-width: 300px;
}

.react-flow__node-default.selectable {
    -webkit-transition: box-shadow .2s ease-out;
}

.react-flow__node-default.selectable:hover {
    box-shadow: 1px 8px 12px grey;
    -webkit-transition: box-shadow .2s ease-in;
}
