.boolNodeText p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px 0 10px;
}

.boolNodeOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.boolNodeOptions button {
    color: #000;
    background-color: #eeeeee;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 0 5px;
    cursor: pointer;
}

.dragHandle {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: teal;
    margin-left: 5px;
    border-radius: 50%;
}
